@charset "utf-8";
/* CSS Document */
html {
	font-size: 62.5%;
}
html, body {
	/*width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;*/
	font-family: "微软雅黑", "Segoe UI", Arial, Sans-Serif;
}
form, select, text, textarea, td, a, li, span, div, label, input, select {
	font-family: "微软雅黑", "Segoe UI", Arial, Sans-Serif;
	font-weight: lighter;
	/*font-size: 1.4rem;*/
	outline: none;
}
html, body, form, img, figure, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	font-weight: lighter;
}
table {
	border-collapse: collapse;
}
td {
	word-break: break-all;
}
a:link {
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:visited {
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {
	text-decoration: none;
	outline: none;
	/*-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 0.6;*/
}
a:active {
	text-decoration: none;
	outline: none;
	/*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}
ul, ol {
	list-style-image: none;
	list-style-type: none;
}
img {
	border: 0px;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
}
div, ul, select, input, textarea, span {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-appearance: none;
}
