body .content2{width: 1180px;}
body .s-mod-def{font-size: 22px;}
body .s-mod-cur span{font-size: 18px;}
body .s-mod-cur span p{font-size: 12px;}
.timer_shaft_wrapper .timer_shaft_box .timer_block{background:url("../images/timer_block.png"); no-repeat;border:none 0;}




